body {
  background-color: black;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}
div.ryu
{
	float: left;
}
.ryu-ready, .ryu-still, .ryu-throwing,.ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing ,.ryu-cool{
  display: none;
} 

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing ,.ryu-cool{
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('https://github.com/somyabn/jquery-streetfighter_Myversion/tree/gh-pages/images/hadouken.gif');
  width: 156px; 
  height: 90px;
  position: relative;
  top: 167px;
  left: -212px;
  z-index: 10;
  float: left;
  display:none;
}

.ryu-ready {
  background-image: url('https://github.com/somyabn/jquery-streetfighter_Myversion/tree/gh-pages/images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('https://github.com/somyabn/jquery-streetfighter_Myversion/tree/gh-pages/images/ryu-standing-still.png');
}
.ryu-throwing {
  background-image: url('https://github.com/somyabn/jquery-streetfighter_Myversion/tree/gh-pages/images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('https://github.com/somyabn/jquery-streetfighter_Myversion/tree/gh-pages/images/ryu-cool.gif');
}
.how-to {
 margin-top: 45px;
 margin-left: 50px;
}
.how-to p {
  width: 100%;
  color: black;
  font-size: 24px;
  line-height: 45px;
}
.how-to h1 {
  width: 100%;
  color: red;
  font-size: 24px;
  line-height: 45px;
}

